# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
dist/
dev-dist/
dist-ssr/
*.local

# Editor/OS Files
.DS_Store
.idea/
*.iml
.project
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
/build
/output
/deploy
/coverage
*.tsbuildinfo

# Environment Variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vite
.vite/

#LLM
qdrant_storage/
