libs/
node_modules/
.DS_Store
.idea/
*.iml
.project
.svn
npm-debug.log

# bem
.bem/cache/
.enb/tmp/
*bundles*/*/*.*
!*bundles*/*/*.bemjson.js
!*bundles*/.bem/*
*pages*/*/*.*
!*pages*/*/*.bemjson.js
!*pages*/.bem/*

# borschik's static freeze
*bundles*/*/img/

deploy/
output/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
